[tool.poetry]
name = "openhasp-config-manager"
version = "0.6.5"
description = "A tool to manage all of your openHASP device configs in a centralized place."

license = "AGPL-3.0-or-later"

authors = [
    "Markus Ressel <mail@markusressel.de>",
]

readme = 'README.md'

repository = "https://github.com/markusressel/openhasp-config-manager"
homepage = "https://github.com/markusressel/openhasp-config-manager"

keywords = ['openhasp', 'config', 'management']

classifiers = [
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.10",
    "Development Status :: 5 - Production/Stable"
]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.dependencies]
python = "^3.10"  # Compatible python versions must be declared here

click = "8.1.8"
requests = "2.32.3"
aiohttp = "3.11.16"
temppathlib = "1.2.0"
Jinja2 = "3.1.6"
py-range-parse = "1.0.5"
pyyaml = "6.0.2"

multidict = "6.4.3"
frozenlist = "1.6.0"
yarl = "1.20.0"

orjson = "3.10.16"
aiomqtt = "2.3.2"
telnetlib3 = "2.0.4"
pillow = "11.2.1"

[tool.poetry.group.ui]
optional = true

[tool.poetry.group.ui.dependencies]
PyQt6 = "6.9.0"
QtAwesome = "1.4.0"

[tool.poetry.group.dev.dependencies]
pytest = "*"
pytest_asyncio = "*"

[tool.pytest.ini_options]
testpaths = [
    "tests",
]

[project]
name = "openhasp-config-manager"

[project.scripts]
openhasp-config-manager = 'openhasp_config_manager.cli:cli'